*
!src
!libs
!apps
!typings
!package.json
!yarn.lock
!tsconfig*.json
!nest-cli.json
!scripts/setup-auth.const.ts
.git
.gitignore
.dockerignore
node_modules
*.env
.eslintrc.js
.prettierrc
README.md
data